@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-size: 350px auto;
    background-color: #008080;
    margin: 0;
    height: 100vh;
    cursor: url('./assets/cursors/arrow0.png'), default;
    overflow: hidden;
  }
  